<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit {{post.title}}</title>
</head>
<body>
    <h1>Edit Post</h1>
<form method="POST">

  <div>
    <label for="title">Title</label>
    <div>
      <input type="text"
             id="title"
             name="title"
             value="{{ post.title }}" placeholder="{{post.title}}">
    </div>
  </div>

  <div>
    <label for="content">Content</label>
    <div>
      <input type="text"
             id="content"
             name="content"
             value="{{ post.content }}" placeholder="{{post.content}}">
    </div>
  </div>

  <div>
    <a href="/{{post.user.id}}">Cancel</a>
    <button type="submit">Edit</button>
  </div>

</form>
</body>
</html>