<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit {{tag.name}}</title>
</head>
<body>
    <h1>Edit a tag</h1>
<form method="POST">

  <div>
    <label for="name">Name</label>
    <div>
      <input type="text"
             id="name"
             name="name"
             value="{{ tag.name }}" placeholder="{{ tag.name }}">
    </div>
  </div>


  <div>
    <a href="/tags">Cancel</a>
    <button type="submit">Edit Tag!</button>
  </div>

</form>
</body>
</html>