<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogly Homepage</title>
</head>
<body>

    <h1>Blogly Recent Posts</h1>

    {% for p in recent_posts %}
    <h2>{{ p.title }}</h2>
    <p>{{ p.content }}</p>
    <p>By {{p.user.full_name}} on {{p.created_at}}</p>
    {% endfor %}

    <div>
    <a href="/users">View All Users</a>
    </div>

    
</body>
</html>