<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post for {{user.full_name}}</title>
</head>
<body>
    <h1>Add Post for {{ user.full_name }}</h1>
<form method="POST">

  <div>
    <label for="title">Title</label>
    <div>
      <input type="text"
             id="title"
             name="title"
             value="{{ user.posts.title }}">
    </div>
  </div>

  <div>
    <label for="content">Content</label>
    <div>
      <input type="text"
             id="content"
             name="content"
             value="{{ user.posts.content }}">
    </div>
  </div>

  <div>
    <a href="/{{user.id}}">Cancel</a>
    <button type="submit">Add</button>
  </div>

</form>
</body>
</html>