<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ tag.name }} Tag</title>
</head>
<body>

    <h1>{{ tag.name }}</h1>

    {% for tag in tags %}
    <ul>
        <li><a href="/posts/{{tag.post.id}}">{{ tag.post.name }}</a></li>
    </ul>
    {% endfor %}

    <div>
    <form action="">
        <button formaction="/tags">Back to All Tags</button>

        <button formaction="/tags/{{tag.id}}/edit" formmethod="GET">Edit</button>

        <button formaction="/tags/{{tag.id}}/delete" formmethod="POST">Delete</button>
    </form>
    </div>
    
</body>
</html>