<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{user.full_name}}</title>
</head>
<body>
    <div>
        {% if user.image_url %}
        <div>
            <img src="{{user.image_url}}" alt="{{user.full_name}}">
        </div>
        {% endif %}

        <div>
            <h1>{{user.full_name}}</h1>

            <form action="">
                <button formaction="/users/{{user.id}}/edit" formmethod="GET">Edit</button>

                <button formaction="/users/{{user.id}}/delete" formmethod="POST">Delete</button>
            </form>
        </div>
    </div>

    <div>
        <h2>Posts</h2>
        <div>
            {% if user.posts %}
            <ul>
                {% for post in user.posts %}
                <li>
                    <a href="/posts/{{ post.id }}">{{ post.title }}</a>
                </li>
                {% endfor %}
            </ul> 
                {% else %}
                <p>{{ user.full_name }} hasn't created any posts yet!</p>
                {% endif %}
        </div>

        <form action="">
        <button formaction="/users/{{ user.id }}/posts/new">Add Post!</button>
        </form>

    </div>

    <p><a href="/users">Go Back to All Users</a></p>
</body>
</html>