<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{post.title}}</title>
</head>
<body>
    <div>
            <h1>{{post.title}}</h1>

            <p>{{post.content}}</p>

            <p><i>By {{post.user.first_name}} {{post.user.last_name}}</i></p>

            <form action="">
                <button formaction="/users/{{post.user_id}}">Cancel</button>

                <button formaction="/posts/{{post.id}}/edit" formmethod="GET">Edit</button>

                <button formaction="/posts/{{post.id}}/delete" formmethod="POST">Delete</button>
            </form>
    </div>

</body>
</html>