<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{user.full_name}}</title>
</head>
<body>
    <div>
        {% if user.image_url %}
        <div>
            <img src="{{user.image_url}}" alt="{{user.full_name}}">
        </div>
        {% endif %}

        <div>
            <h1>{{user.full_name}}</h1>

            <form action="">
                <button formaction="/{{user.id}}/edit" formmethod="GET">Edit</button>

                <button formaction="/{{user.id}}/delete" formmethod="POST">Delete</button>
            </form>
        </div>
    </div>

    <div>
        <h2>Posts</h2>
        <div>
            <ul>
                {% if user.title %}
                <li><a href="">{{ user.title }}</a></li>
                {% else %}
                <li>{{ user.full_name }} hasn't created any posts yet!</li>
                {% endif %}
            </ul>
        </div>
    </div>

    <p><a href="/">Go Back to All Users</a></p>
</body>
</html>